/*
 * Globals
 */

/* Links */
a, a:focus, a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary, .btn-secondary:hover, .btn-secondary:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/* ball game */

#GameCanvas {
    background: rgb(208, 212, 213);
    position: absolute;
    border: 1px solid #000000;
}

/*************************/

/* General reset styles */
html, body {
  height: 100%;
  background-color: #333;
  font-family: "Arial", cursive, sans-serif;
}

body {
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  overflow: hidden;
  color: #fff; /* Default text color */
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

/* Bootstrap and external library styles */
/* ... */

/* Styles for content */
.masthead {
  margin-bottom: 2rem;
}

.menu {
  font-size: 1.2em;
  font-style: italic;
}

.nav-masthead .nav-link {
  float: center;
  padding: .25rem 0;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link+.nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.lead {
  padding: 1rem;
}

.inner {
  font-size: 0.875em;
  font-style: italic;
}

/* Styles for background video container */
.cover-container {
  position: relative;
  z-index: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Styles for background video */
.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Footer styles */
.mastfoot {
  margin-top: 2rem;
}

/* Custom styling for the footer inner content */
.mastfoot .inner {
  padding: 20px;
  background: rgba(0, 0, 0, 0);
}

.mastfoot p {
  margin-bottom: 0;
}
