/* General styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #131a43; /* Dark solid background color */
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: white; /* Ensure text is visible on dark background */
}

header {
    padding: 1rem;
    position: relative;
    z-index: 1;
    background-color: #13132d; /* Match header background color */
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

/* Style for the menu links */
nav ul li a {
    text-decoration: none; /* Remove default underline */
    color: #ffffff; /* White color for the text */
    font-weight: normal; /* Normal font weight by default */
}

/* Style for the active menu link */
nav ul li a.active { /* To handle active link when clicked */
    font-weight: bold; /* Bold font weight for the active link */
}

/* Style for the hovered menu link */
nav ul li a:hover {
    text-decoration: underline; /* Underline when hovered */
}

main {
    padding: 2rem;
    position: relative;
    z-index: 1;
}

footer {
    background-color: #13132d; /* Match footer background color */
    color: white;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1;
}

#github-readme {
    text-align: left;
    margin: 2rem auto;
    max-width: 600px;
    background: rgba(0, 0, 0, 0.8);
    padding: 1rem;
    border-radius: 8px;
    overflow: auto;
}

/* Responsive styles */
@media (max-width: 768px) {
    header nav ul {
        display: flex;
        flex-direction: column;
    }

    header nav ul li {
        margin: 0.5rem 0;
    }
}

@media (max-width: 480px) {
    main {
        padding: 1rem;
    }

    footer {
        font-size: 0.8rem;
    }
}
